#calculator_main_container {
  margin: auto;
  /* padding-top: 50px; */
  max-height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#calculator_main_section {
  display: flex;
  height: 480px;
  max-height: 480px;
  width: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

#display_container {
  height: fit-content;
  border: 1px solid black;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: cornsilk;
  padding: 0 5px;
}

#display_container_input {
  width: 100%;
  height: 25px;
  text-align: right;
}

#button_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-height: 480px;
}

#button_container_ul {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  max-height: 480px;
}

#button_container_ul div {
  justify-self: center;
}

button.calculator_button {
  background: unset;
  background-color: #4caf50;
  border: unset;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  font-weight: 400px;
  width: 4em;
  height: 3em;
  cursor: pointer;
  transition-duration: 0.2s;
}

button.calculator_button:hover {
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.24),
    0 8px 4px 4px rgba(0, 0, 0, 0.19);
}

#equal_button_container {
  grid-row: 4 / span 2;
  grid-column: 5;
}

#equal_button_container button {
  height: 7em;
}
