* {
  font-family: "Mukta", sans-serif;
  margin: auto;
}

h1,
h2 {
  font-family: "Mukta", sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

#welcoming_msg {
  height: fit-content;
  text-align: center;
}

:root {
  --light-primary: #fefcf3;
  --normal-primary: #f5ebe0;
  --dark-primary: #f0dbdb;
  --darker-primary: #dba39a;
}

html,
body {
  height: 100%;
  /* background-color: var(--darker-primary); */
}

#root {
  /* border: 1px solid var(--darker-primary); */
  border-radius: 1%;
  width: 70%;
  height: 100%;
  margin: auto;
  /* background: linear-gradient(to top, lightgray, whitesmoke); */
}

#navbar {
  display: flex;
  justify-content: flex-end;
  /* border-top: 1px solid darkgreen; */
  /* border-bottom: 1px solid darkgreen; */
  height: 50px;
  align-items: center;
  padding-bottom: 15px;
}

.nav_button {
  height: 45px;
  width: 120px;
  font-size: 25px;
  border-radius: 50px;
  /* border-color: var(--darker-primary); */
  background-color: #4caf50;
  border: 2px solid #4caf50;
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
  cursor: pointer;
}

.nav_button span {
  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
}

.nav_button span::after {
  content: "\00bb";
  font-size: 25px;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition-duration: 0.3s;
}

.nav_button:hover {
  /* background-color: white;
  color: #4caf50; */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.nav_button:hover span {
  padding-right: 15px;
}

.nav_button:hover span::after {
  opacity: 1;
  right: 0;
}

#masthead {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  background-color: white;
  border-bottom: 1px solid #4caf50;
}

#meme_container {
  width: 70%;
  height: 50%;
  margin: 50px auto;
}
