<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator App!</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index.css')}}"
    />
  </head>
  <body>
    <div id="root">
      <div id="masthead">
        <div id="welcoming_msg">
          {% if root %}
          <h1>Welcome to the calculator app!</h1>
          {% else %}
          <h1>Happy calculating!</h1>
          {% endif %}
        </div>
        <nav id="navbar">
          <ul>
            {% if root %}
            <li>
              <a href="{{url_for('app.home')}}"
                ><button class="nav_button" type="button">
                  <span>App </span>
                </button></a
              >
            </li>
            {% else %}
            <li>
              <a href="{{url_for('root.root')}}"
                ><button class="nav_button" type="button">
                  <span>Back </span>
                </button></a
              >
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
      {% if root %}
      <div id="meme_container">
        <div
          class="tenor-gif-embed"
          data-postid="17278992"
          data-share-method="host"
          data-aspect-ratio="1.79775"
          data-width="100%"
        >
          <a
            href="https://tenor.com/view/computing-confused-wait-what-wait-a-minute-alan-gif-17278992"
            >Computing Confused GIF</a
          >from
          <a href="https://tenor.com/search/computing-gifs">Computing GIFs</a>
        </div>
        <script
          type="text/javascript"
          async
          src="https://tenor.com/embed.js"
        ></script>
      </div>
      {% endif %} {%block content%}{%endblock%}
    </div>
    <script
      type="module"
      src="{{url_for('static', filename='js/index.js')}}"
    ></script>
  </body>
</html>
